.home-style {
    background-color:black;
    /* margin: 500px; */
    
}

.home-style-outter {
    border: 1px solid #ffffff;
    background-color:black;
    margin: 3px;
    /* padding: 5px; */
   
}